// COLOR CUBE
$white:white;
$black:#0b0b0b;
$gray:#aeadae;
$green:#1fad96;
$brown:#504442;
$red:#cb1917;
$pink:#ad6f5b;
$acqua:#5df0c8;
$yellow:#ffbe6b;
$blue:#4473ee;

// MEDIAN CUT
$hint:#f6f3f5;
$space:#2c3837;
$ed:#9ea4a5;
$reddo:#975c4d;
$sandal:#ad876a;

// MATERIAL DESIGN
$jungle:#25ab94;
$bird:#c52618;
$gun:#48495f;
$eu:#c99fbe;

